


/* media 1400 */
@media all and (max-width: 1550px) {
    .about-right p {
        font-size: 16px;
    }
    .about-right h3 {
        font-size: 22px;
    }
}

@media all and (max-width: 1365px) {
    .about-right h3 {
        font-size: 19px;
        margin: 3px 0;
    }
    .header-right ul li a {
        padding: 19px 20px;
    }
    
}
@media all and (max-width: 1260px) {
    .about-right p {
        font-size: 14px;
    }
    .about-right h3 {
        font-size: 17px;
        margin: 3px 0;
    }
    .about-right {
        width: 65%;
        padding-left: 25px;
    }
    .about-left {
        width: 35%;
    }
}
@media all and (max-width: 1160px) {
    .about-flex {
        display: inherit;
    }
    .about-left {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .about-left img{
        width: 100%;
    }
    .about-right {
        width: 100%;
        padding-left: 0;
    }
    .about-right h3 {
        font-size: 22px;
        margin: 6px 0;
    }
    .about-right p {
        font-size: 16px;
    }
    .banner {
        padding: 175px 0;
    }
    .header-right ul li a {
        padding: 19px 17px;
    }
    .service-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-box {
        width: 33.3%;
        margin-bottom: 45px;
        margin-right: 0;
        padding: 20px;
        box-sizing: border-box;
    }
    .service-box:nth-child(3){
        margin-right: 0;
    }
    .service {
        padding-bottom: 0;
    }
}


@media all and (max-width: 1080px) {
    .service-box {
        width: 50%;
        margin-bottom: 45px;
        margin-right: 0;
    }
    .service-top {
        padding-top: 40px;
        margin-bottom: 40px;
    }
}

@media all and (max-width: 992px) {
    .about-right p {
        font-size: 16px;
    }
    .about-right h3 {
        font-size: 22px;
        margin: 7px 0;
    }
    .banner {
        padding: 100px 0;
    }
    .banner-fix h1 {
        font-size: 35px;
    }
    .banner-fix h6 {
        font-size: 15px;
        margin-top: 18px;
        margin-bottom: 37px;
    }

    #offcanvasRight {
        background: #0CBE9A;
        width: 330px;
    }

    #offcanvasRightLabel {
        color: #fff;
        font-weight: bold;
    }
    .res-menu {
        display: block;
    }
    .header-left {
        width: 90%;
    }
    .header-right {
        width: 10%;
    }
    .btn-close:focus {
        box-shadow: 0 0 0 0 !important;
    }
    .btn-primary {
        color: #fff;
        background-color: transparent !important;
        border-color: #fff !important;
    }
    .btn-primary:focus {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
        box-shadow: 0 0 0 0 !important;
    }
    .header-right {
        width: 10%;
        position: relative;
    }
    .btn-primary{
        position: absolute;
        top: 10px;
        right: 0;
    }
    .header-right ul {
        display: none;
    }
    .responsive-menu {
        display: block !important;
        text-align: start !important;
    }
    .responsive-menu li {
        display: block !important;
    }
    .responsive-menu li a {
        color: #fff !important;
        transition: .4s all ease-in-out !important;
    }
   


    .responsive-menu li ul {
        background: transparent;
        position: absolute;
        top: 150%;
        left: 28%;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
    }
    .responsive-menu li ul li {
        display: block !important;
    }
    .responsive-menu li ul li a {
        display: block !important;
        color: #fff !important;
    }
    .responsive-menu li a:hover{
        color: #000 !important;
    }
    .responsive-menu li:hover ul{
        top: 0 !important;
        opacity: 1;
        visibility: visible;
    }

}
@media all and (max-width: 768px) {
    .about-left {
        height: auto;
    }
    .contact-flex {
        display: inherit;
    }
    .contact-box {
        width: 100%;
        margin-bottom: 45px;
    }
    .contact-box:nth-child(3){
        margin-bottom: 0;
    }
    .banner-fix h6 {
        font-size: 14px;
        margin-top: 13px;
        margin-bottom: 32px;
    }
    .banner-fix h1 {
        font-size: 27px;
    }
    .btn-primary{
        top: 9px;
    }
}
@media all and (max-width: 620px) {
    .banner-btn a {
        padding: 6px 26px;
        font-size: 14px;
    }
    .banner-fix h1 {
        font-size: 20px;
    }
    .banner-fix h6 {
        font-size: 12px;
    }
    .btn-primary{
        top: 7px;
    }
}
@media all and (max-width: 576px) {
    .service-box {
        width: 100%;
    }
    .service-box:nth-child(4) {
        margin-bottom: 0;
    }
   
}
@media all and (max-width: 450px) {
    .footer-top ul li a {
        padding: 15px 10px;
    }
    .footer-bottom span {
        font-size: 14px;
    }
}